*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


.background{
    background-image: url(img/img.principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.back{
    background-color: #ffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
    background-color: #FF3060;
    padding: 14px 14%;
}


.logo{
    font-weight: 500;
    font-size: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a{
    color: #111;
    font-weight: 700;
    transition: 0.3s;
    font-weight: bold;
}

.cabeçalho-link a:hover{
    color: #FF3060;
}

.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FF3060;
}
.search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
}
/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #FF3060; }
/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #FF3060; }
/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #FF3060; }
.search-box form {
    
    display: flex;
    border-radius: 50px;
    background-color: #fff56d;
    height: 45px;
}
.search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
}
.search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #fff;
    width: 0;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
   display: flex;
   border-radius: 50%;
   width: 45px;
   height: 45px;
   background-color: #fff56d;
   border: none;
   cursor: pointer;
   transition: .3s;
}
.search-box-button:active  {
    transform: scale(.85);
}
.bx-search-alt {
    margin: auto;
    color: #FF3060;
}
@media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }
}
 
.bx-cart-alt {
    color: #FF3060;
    margin: auto;

}

.icon span{
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover{
    color: #FFff;
}

.Meio{
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
    font-weight: bold;
}

.Meio h1{
    font-size: 4rem;

}

.Meio button{
    background-color: #FF3060;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;

}

.Meio button:hover{
      background-color: #111;
      transform: scaleY(1.2);
}

section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.Container-card-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;

}

.cards img{
    width: 450px;
    height: auto;
    transition: 0.35s ease;

}

.cards img:hover{
     transform: scale(0.9) translateY(-5px);
     cursor: pointer;


}

.cta{
    height: 60vh;
    width: 100%;
    background: url(img/novo.avif);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.text-cta{
    padding-left: 5rem;
}

.text-cta h6{
    font-size: 17px;
        font-weight: 500;
        letter-spacing: .6px;
        margin-bottom: 14px;

}

.text-cta h4{
    font-size: 3.3rem;
        line-height: 1.2;
        letter-spacing: .6rem;
        margin-bottom: 30px;
}

.text-cta a{
    background-color: #FF3060;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
   font-size: 1rem;
   cursor: pointer;
   transition: 0.3s;
}

.text-cta a:hover{
    background-color: #111;
      transform: scaleY(1.2);

}

.Container-bebidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold

}

.Container-bebidas2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold

}

.Container-bebidas3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold

}

.Container-bebidas4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold

}

.Container-bebidas5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold

}

.Container-bebidas img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.Container-bebidas2 img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.Container-bebidas3 img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.Container-bebidas4 img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.Container-bebidas5 img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

#bebida h1 {
    background-color: #FFFF;
    float: right;
}

.bebida img{
    width: 250px;
    height: auto;
}

.bebida{
    background-color: #FF3060;
    color: #000;
}

.Marcas{
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.Marcas img{
    width: 180px;
    height: auto;
    background-color: white;
}

#Contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li{
    margin-bottom: 15px;
}

.meio-contato li a{
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
} 

#back-to-top {
    position:static;
    bottom: 50px;
    background-color: #FF3060;
  }

.last-text{
    text-align: center;
    background-color: #555;
    color: #fff;
}

div.a {
    line-height: normal;
  }

